<ul>

  <li>Company: <%= @job.company %> </li>
  <li> Job Title: <%= @job.title %></li>
  <li> Job Description: <%= @job.description %></li>
  <li> Date Applied: <%= @job.date %></li>
  <form action="/jobs/<%=@job.id %>" method="POST">
  <input type="hidden" name="_method" value="DELETE">
  <button>Delete</button>
  </form>
  <a href="/jobs/<%=@job.id %>/edit">Edit</a>
  
</ul>


